
<% content_for :head do
  #pass content to head in parent layout
  javascript_include_tag :posts
end %>

<% wrap_layout :layout do %>
    <%= partial "partials/article_header.erb" %>

    <div class="wrap">
      <article id="main" role="main">
        <%= partial "partials/introduction.md.erb" %>
        <%= partial "partials/article_links.md.erb" %>

        <%= yield %>

      </article>

      <%= partial "partials/comments.erb" %>

    </div>
<% end %>
