<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <%= partial "partials/meta.erb" %>

    <!-- setup feeds -->
    <!-- <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %> -->

    <%= partial "partials/favicon.html" %>
    <%= partial "partials/google_analytics.html" %>

    <!-- asset links -->
    <%= stylesheet_link_tag :syntax, :site %>
    <%= javascript_include_tag :all %>

    <%= # child layouts can inject code into the head via using content_for :head
    yield_content :head
    %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/navbar" %>

    <main>
      <%= yield %>
    </main>

    <%= partial "partials/footer.erb" %>
  </body>
</html>
