<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#"> <!-- http://stackoverflow.com/questions/6693499/how-can-i-set-a-website-image-that-will-show-as-preview-on-facebook -->
  <head>
    <meta property="og:image" content="/images/favicon/favicon.ico" />

    <meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="theme-color" content="#e67e22" />

    <title>
      <%= # Use title if it's in the page YAML frontmatter
      if current_page.data.dig(:title) then
        current_page.data.title
      else
        "JTronLabs"
      end
      %>
    </title>

    <!-- setup feeds -->
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= partial "partials/favicon.html" %>
    <%= partial "partials/google_analytics.html" %>
    <%= partial "partials/email_subscribe_popup.erb" %>

    <!-- asset links -->
    <%= stylesheet_link_tag :syntax, :site %>
    <%= javascript_include_tag :all %>

    <%= # child layouts can inject code into the head via using content_for :head
    yield_content :head
    %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/navbar" %>

    <main>
      <%= yield %>
    </main>

    <%= partial "partials/footer.erb" %>
  </body>
</html>
