<!doctype html>
<html>
  <head>
    <meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>
      <%= # Use title if it's in the page YAML frontmatter
      current_page.data.title || "JTronLabs"
      %>
    </title>

    <!-- setup feeds -->
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= partial "partials/favicon.html" %>

    <!-- asset links -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :syntax, :site %>
    <%= javascript_include_tag :all %>


    <%= # child layouts can inject code into the head via using content_for :head
    yield_content :head
    %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/navbar" %>

    <main>
      <%= yield %>
    </main>

    <%= partial "partials/footer.erb" %>
  </body>
</html>
