<%
img_url = article.data.dig(:header,:img_url) ? article.data.header.img_url : "images/icons/write.svg"
color_background =  article.data.dig(:header,:color_background) ? article.data.header.color_background : data.defaults.article.header.color.bg
%>

<a href="<%= article.url %>" class="card">
  <div class="card-img-wrap" style="background-color:<%= color_background %>">
    <%= app.image_tag img_url %>
  </div>
  <div class="card-content">
    <h3><%= article.title %></h3>

    <time><%= article.date.strftime("%B %e, %Y") %></time>

    <p><%= article.data.blurb || article.summary %></p>
  </div>
</a>
