<%
summary_len ||= 250
em ||= 1
img_url = article.data.dig(:header,:img_url) ? article.data.header.img_url : "/images/icons/write.svg"
%>


<section class="post_summary" style="font-size:<%= em %>em">
  <aside>
    <img src="<%= img_url %>" class="article-type"/>

    <!-- tags -->
    <div class="tags">
      <% article.tags.each do |tag| %>
        <%= link_to "#{tag}", tag_path(tag), { class: "button button_primary" }%>
      <% end %>
    </div>
  </aside>

  <article>
    <h2><%= link_to article.title, article %> </h2>
    <time><%= article.date.strftime("%B %e, %Y") %></time>
    <%=
    article.summary(summary_len)
    #article.body
    %>
  </article>
</section>
