<div class="wrap">

##Howdy

I'm a full-stack web engineer that studied Machine Learning at Georgia Tech and has published multiple video games.
[Here's my resume as of Dec 1, 2021](/docs/James_Lowrey_Resume-12-1-21.pdf)

Since 12/2021 I have been an L4 SWE at Google under the Google Cloud Marketplace org working on Search and Discoverability. 

From 2019-12/2021 I worked at the Port of Seattle where I was the lead dev for an internal project/contract management website built in Angular and Entity Framework (C#). 
I also consulted on an ML project monitoring airplane APU idling emissions using spectrogram analysis.

From 2016-2017 I worked at Epic Systems where I did JS/Jquery, prototyped a VB->C# backend migration, and updated Mumps DB code.

I graduated Georgia Tech with an MS in CS and a specialization in Machine Learning in 2019.
Before that, I majored in CS Eng. at Ohio State University with a minor in Bio and Premed, graduating in 2015.

During undergrad I interned at Baker Hughes and NetApp, while also TAing an algorithms course and contributing to medical research on liver cancer.

Drop me a line at [jarlowrey@gmail.com](mailto:jarlowrey@gmail.com) if you want to reach me.

<!--

###Email List

If you're interested in my blog and would like to stay up-to-date on what I'm doing and learning, you can subscribe to my email list.
I send out occasional, quality content on all things software related.
If you choose to subscribe, watch out for the emails being sorted into your spam filter at first.
Thanks!
-->

<%= #partial "partials/email_subscribe_embed.erb" 
%>

<!--
###Learning
<%= img_alts(data.about_me.learning) %>

<%= img_links(data.about_me.learning) %>

###Skills
<%= img_alts(data.about_me.skills) %>

<%= img_links(data.about_me.skills) %>
-->

 </div>
