<div class="wrap">

<%= img_links_from_hash(data.about_me.social) %>


---

##About

I'm a developer. I make games, websites and AI.
Starting January 2016 I am studying AI at [GT's OMSCS program](https://www.omscs.gatech.edu/).
Awhile ago I studied Computer Science Engineering at [OSU](https://www.osu.edu/).
During college I interned at [Baker Hughes](https://www.bakerhughes.com/) and [NetApp](http://www.netapp.com/us/index.aspx),
and recently was working for [Epic](http://www.epic.com/).
Now I am trying to branch out on my own, stay tuned by subscribing to the email list.

###Standing Invitation

If you'd like to chat about software, I'd love to talk. Drop me a line at [jarlowrey@gmail.com](mailto:jarlowrey@gmail.com)

###Email List

If you're interested in my blog and would like to stay up-to-date on what I'm doing and learning, you can subscribe to my email list.
I send out occasional, quality content on all things software related.
If you choose to subscribe, watch out for the emails being sorted into your spam filter at first.
Thanks!

<%= partial "partials/email_subscribe_embed.erb" %>

<!--
###Learning
<%= img_alts(data.about_me.learning) %>

<%= img_links(data.about_me.learning) %>

###Skills
<%= img_alts(data.about_me.skills) %>

<%= img_links(data.about_me.skills) %>
-->

 </div>
