<div class="welcome">
    <div class="row">

        <h1 id="home">
            <%= data.about_me.name %>: {
        </h1>
        <div class="meta">
            <h4>
                Tagline: [
                <%= txt_links(data.about_me.tagline, "") %>
                ],
            </h4>
            <h4>
                Alias:
                <%= link_to 'JTronLabs', 'https://github.com/jtronlabs', target: "_blank" %>,
            </h4>
            <h4>
                Contact:[
                <%= img_links(data.about_me.contact, "") %>
                ],
            </h4>
            <h4>
                Description:
            </h4>
            <p class="centered">
                "<%= data.about_me.description %>" ,
            </p>
        </div>
    </div>

    <div class="row">
        <h2 id="discovering">
            Discovering: [
        </h2>
        <%= img_links(data.about_me.discovering, "") %>

        <h2>
            ],
        </h2>
    </div>

    <div class="row">
        <h2 id="skills">
            Skills: [
        </h2>
        <%= img_links(data.about_me.skills, "") %>

        <h2>
            ],
        </h2>
    </div>

    <div class="row">
        <h2 id="projects">
            Projects: [
        </h2>

        <h2>
            ]
        </h2>
    </div>

    <div class="row">
        <h1>
            }
        </h1>
    </div>
</div>
