---
pageable: true
---

<div class="wrap">
  <% page_articles.each do |article| %>
    <%= partial "partials/card.erb", locals: {article: article } %>
  <% end %>

  <% if paginate and num_pages > 1%>
    <p>Page <%= page_number %> of <%= num_pages %></p>
    <p>
    <% if prev_page %>
      <%= link_to 'Previous page', prev_page %>
    <% end %>
    <% if next_page and prev_page %>
      - <!-- separator -->
    <% end %>
    <% if next_page %>
      <%= link_to 'Next page', next_page %>
    <% end %>
    </p>
  <% end %>

</div>
