<div class="welcome">
    <div class="row">

        <h1>
            <%= data.about_me.name %>: {
        </h1>
        <div class="meta">
            <p>
                tagline: [
                <%= txt_links(data.about_me.tagline) %>
                ],
            </p>
            <p>
                alias:
                <%= link_to 'JTronLabs', 'https://github.com/jtronlabs', target: "_blank" %>,
            </p>
            <p>
                contact:[
                <%= img_links(data.about_me.contact) %>
                ],
            </p>
            <p>
                description: "<%= data.about_me.description %>" ,
            </p>
        </div>
    </div>

    <div class="row">
        <p>
            discovering: [
        </p>
        <%= img_links(data.about_me.discovering) %>

        <p>
            ],
        </p>
    </div>

    <div class="row">
        <p>
            skills: [
        </p>
        <%= img_links(data.about_me.skills) %>

        <p>
            ],
        </p>
    </div>

    <div class="row">
        <p>
            projects: [
        </p>

        <p>
            ]
        </p>
    </div>

    <div class="row">
        <h1>
            }
        </h1>
    </div>
</div>
