---
pageable: true
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.summary %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>










<div class="welcome">
    <div class="row">

        <a class="navbar-adjust" id="home"></a>
        <h1>
            <%= data.about_me.name %>: {
        </h1>
        <div class="meta">
            <h4>
                Tagline: [
                <%= txt_links(data.about_me.tagline, "") %>
                ],
            </h4>
            <h4>
                Alias:
                <%= link_to 'JTronLabs', 'https://github.com/jtronlabs', target: "_blank" %>,
            </h4>
            <h4>
                Contact:[
                <%= img_links(data.about_me.contact, "") %>
                ],
            </h4>
            <h4>
                Description:
            </h4>
            <p class="centered">
                "<%= data.about_me.description %>" ,
            </p>
        </div>
    </div>

    <div class="row">
        <a class="navbar-adjust" id="learning"></a>
        <h2>
            Learning: [
        </h2>
        <%= img_links(data.about_me.learning, "") %>

        <h2>
            ],
        </h2>
    </div>

    <div class="row">
        <a class="navbar-adjust" id="skills"></a>
        <h2>
            Skills: [
        </h2>
        <%= img_links(data.about_me.skills, "") %>

        <h2>
            ],
        </h2>
    </div>

    <div class="row">
        <a class="navbar-adjust" id="projects"></a>
        <h2>
            Projects: [
        </h2>

        <h2>
            ]
        </h2>
    </div>

    <div class="row">
        <h1>
            }
        </h1>
    </div>
</div>
