---
title: James Lowrey
---

<div class="welcome text">
    <h1>
      <%= data.about_me.name %>: {
    </h1>
    <div class="text">
        <p>
            tagline: {
            <%= txt_links(data.about_me.tagline) %>
            },
        </p>

        <p>
            alias: JTronLabs,
        </p>

        <p>
            contact: {
            <%= img_links(data.about_me.contact) %>
            },
        </p>

        <p>
            description: {<br/>
            <%= data.about_me.description %>
            <br/>},
        </p>

        <p>
            discovering: {<br/>
            <%= img_links(data.about_me.discovering) %>
            <br/>},
        </p>

        <p>
            skills: {
            <br/>
            <%= img_links(data.about_me.skills) %>
            <br/>},
        </p>

        <p>
            projects: {<br/>

            <br/>}
        </p>
    </div>

    <h1>
    }
    </h1>
</div>
<!-- .welcome -->
