---
pageable: true
per_page: 12
---
<h1>Articles tagged '<%= tagname %>'</h1>

<!-- Show prev page -->
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<!-- Show all articles -->
<% page_articles.each_with_index do |article, i| %>
  <%= partial "partials/post_summary.erb", locals: {
      article:article,
      summary_len: 100,
      em: 0.75 } %>
<% end %>

<!-- Show next page -->
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
